<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Memo Paper</title>
  <link rel="stylesheet" href="./css/bundle.min.css">
  <script src="https://kit.fontawesome.com/c3f36ccac8.js" crossorigin="anonymous"></script>
  <script src="./js/bundle.min.js" charset="utf-8"></script>
</head>

<body>
  <div id="container">
    <div id="head">
      <h1>To Do List</h1>
      <i class="fas fa-pencil-alt"></i>
      <i class="fas fa-eraser"></i>
    </div> <span class="line"></span>
    <div id="contentbox">
      <ul>
        <li class="list">
          <input type="text" class="notes" maxlength="55" disabled>
        </li>
      </ul>
    </div>
    <!-- #contentbox -->
  </div>
  <!-- #container -->
</body>

</html>
